/* menu */
.card-img-top:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.add-btn {
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.add-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

/* When button turns green */
.add-btn.btn-success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: white !important;
  box-shadow: 0 4px 10px rgba(40, 167, 69, 0.4);
}

.menucontainer {
  margin-top: 5rem;
}

@media (min-width: 190px) and (max-width: 530px) {
  .menucontainer {
    margin-top: 14rem;
  }
  .contact-container {
    margin-top: 6rem !important;
  }
}

@media (min-width: 530px) and (max-width: 710px) {
  .menucontainer {
    margin-top: 10rem;
  }
  .contact-container {
    margin-top: 6rem !important;
  }
}

@media (min-width: 768px) and (max-width: 901px) {
  .menucontainer {
    margin-top: 10rem;
  }
}

/* footer menu */
.pagesfooter {
  background-color: #b37070c5;
  color: #000000;
  font-weight: 800;
}

.navfooteritem:hover {
  text-decoration: underline;
}

/* about page carousel */
#aboutCarousel img {
  height: 60vh;
  object-fit: cover;
  filter: brightness(70%);
}

#aboutCarousel .carousel-control-prev-icon,
#aboutCarousel .carousel-control-next-icon {
  filter: invert(1);
  width: 2rem;
  height: 2rem;
}

#aboutCarousel .carousel-control-prev-icon,
#aboutCarousel .carousel-control-next-icon {
  filter: brightness(0) saturate(100%) invert(84%) sepia(77%) saturate(848%)
    hue-rotate(2deg) brightness(103%) contrast(101%);
}

/* gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.gallery-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: 0.4s ease;
}

/* Hover Effect */
.gallery-grid:hover img {
  filter: blur(1px) brightness(60%);
  transform: scale(1);
}

.gallery-item:hover img {
  filter: blur(0) brightness(100%);
  transform: scale(1.12);
  z-index: 10;
}

/* Responsive Breakpoints */

/* Tablet - 2 images per row */
@media (max-width: 992px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-item img {
    height: 200px;
  }
}

/* Mobile - 1 image per row */
@media (max-width: 576px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-item img {
    height: 180px;
  }
}
